<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
  <label>
    First Name:
    <input type="text" formControlName="firstName"  >

  </label>
<div *ngIf="profileForm.get('firstName').invalid && (profileForm.get('firstName').dirty ||profileForm.get('firstName').touched)"
    class="alert alert-danger">

  <div *ngIf="profileForm.get('firstName').errors.required">
    First Name is required.
  </div>
  <div *ngIf="profileForm.get('firstName').errors.minlength">
    First Name must be 4 char long.
  </div>
  </div>
  <div class="form-group"  >
  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label>
  <div *ngIf="profileForm.get('lastName').errors.minlength">
    First Name must be 4 char long.
  </div>
  </div>
  <input type="submit">
</form>